# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

data/dbeaver/
data/raw/
  
# Distribution / packaging
.env

# Virtual environment
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/interim/
data/processed/
data/predictions/
# оставляем raw, если хотим делиться исходными CSV
# data/raw/

# Models
models/

# System files
.DS_Store
desktop.ini
Thumbs.db

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
