# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

  
# Distribution / packaging
.env

# Virtual environment
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Specific notebooks to ignore
for_drop.ipynb
test.ipynb

# Data
data/raw/
data/interim/
data/processed/
data/predictions/

# Models
models/

# System files
.DS_Store
desktop.ini
Thumbs.db

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
